body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', SimSun, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f8f8;
  color: #666;
}

@import "element";
@import "breadcrumb";
@import "dialog";
@import "table";
