$topbar-height: 70px;
$topbar-color: #fff;
$topbar-border: transparent;
$topbar-hover: #2DC6F6;
$topbar-font-color: #dff0ff;

$sidebar-width: 200px;
$sidebar-bg: #F9F8F8;
$sidebar-menu-item-height: 48px;
$sidebar-menu-item-padding: 0 20px;
$sidebar-menu-item-font-color: #666666;
$sidebar-menu-item-bg: #F9F8F8;
$sidebar-title-focus-color: #F9F8F8;

$menu-item-height: 40px;

$theme-color: #2DC6F6;
$main-cont-padding-top: 20px;